body {
  margin: 2em;
  background-image: url("https://thumbs.gfycat.com/UntidySickHairstreak-size_restricted.gif");
  /* background-color: white; */
  margin: 3em;
}

/* body {
  margin: 2em;
  background-image: url("https://media2.giphy.com/media/3ohhwznSVuwXu6RnEY/source.gif");
  /* background-color: white; */
  /* margin: 3em;
/* } 
